<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BIC.FinvizScrapper.UrlRoot"                     value="https://finviz.com/screener.ashx"/>
    <add key="BIC.Scrappers.Utils.TimeDelayInSeconds"         value="15"/>
    <add key="BIC.Scrappers.Utils.IntervalTimeDelayInSeconds" value="5..60"/>
    <add key="BIC.Scrappers.Utils.ChromeLocation"     value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
    <add key="BIC.FinvizScrapper.OutputDirectory"     value="E:\_DATA\"/>
    <add key="BIC.Utils.LogDirectory"                 value="E:\_LOG"/>
    <add key="BIC.Utils.UseFileLog"                   value="Y"/>
  </appSettings>
</configuration>