<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="BIC.WPF.ScrapManager.ScrapperFilePath"      value="..\..\..\BIC.Apps.MSMQExtractorCommander\bin\Debug\BIC.Apps.MSMQExtractorCommander.exe"/>
    <add key="BIC.WPF.ScrapManager.ScrapperFileLogPath"   value="E:\_LOG\BIC.log"/>
    <add key="BIC.WPF.ScrapManager.EtlProcessFilePath"    value="..\..\..\BIC.Apps.MSMQEtlProcess\bin\Debug\BIC.Apps.MSMQEtlProcess.exe"/>
    <add key="BIC.WPF.ScrapManager.EtlProcessFileLogPath" value="E:\_LOG\Debug\BIC.log"/>
    <add key="BIC.WPF.ScrapManager.MsmqNameStatusEtl"     value=".\Private$\bic-status-etl"/>
    <add key="BIC.WPF.ScrapManager.MsmqNameStatusScrap"   value=".\Private$\bic-status-scrap"/>
    <add key="BIC.WPF.ScrapManager.MsmqNameCommands"      value=".\Private$\bic-commands"/>
    <add key="BIC.WPF.ScrapManager.SleepTimeMsmqReadMsec" value="200"/>
  </appSettings>
</configuration>