<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BIC.Utils.Tests.IntegerProperty"                             value="300"/>
    <add key="BIC.Utils.Tests.StringProperty"                              value="Value"/>
    <add key="BIC.Utils.Tests.DateTimeProperty"                            value="2000/12/31"/>
    <add key="BIC.Utils.Tests.StringMandatoryProperty"                     value="Value"/>
    <add key="GENERIC.GenericStringProperty"                               value="Value"/>

    <add key="BIC.FinvizScrapper.UrlRoot"                                  value="https://finviz.com/screener.ashx"/>
  </appSettings>
</configuration>