<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="BIC.ETL.SqlServer.InputDirectory"      value="E:\_DATA\"/>
    <add key="BIC.ETL.SqlServer.SQLConnectionString" value="Server=STAN-PC;Database=BIC;Trusted_Connection=yes;"/>
    <add key="BIC.Utils.LogDirectory"                 value="E:\_LOG\Debug\"/>
    <add key="BIC.Utils.UseFileLog"                   value="Y"/>
  </appSettings>
</configuration>