<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="BIC.FinvizScrapper.UrlRoot" value="https://finviz.com/screener.ashx"/>
    <add key="BIC.YahooScrapper.UrlRoot" value="https://finance.yahoo.com"/>
    <add key="BIC.MoneyConverterScrapper.UrlRoot" value="https://themoneyconverter.com/#exchange-rates"/>
    <add key="BIC.Scrappers.Utils.TimeDelayInSeconds" value="10"/>
    <add key="BIC.Scrappers.Utils.IntervalTimeDelayInSeconds" value="5..60"/>
    <add key="BIC.Scrappers.Utils.ChromeLocation" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"/>
    <add key="BIC.FinvizScrapper.OutputDirectory" value="E:\_DATA\"/>
    <add key="BIC.YahooScrapper.OutputDirectory" value="E:\_DATA\"/>
    <add key="BIC.MoneyConverterScrapper.OutputDirectory" value="E:\_DATA\"/>
    <add key="BIC.Utils.LogDirectory" value="E:\_LOG"/>
    <add key="BIC.Utils.UseFileLog" value="Y"/>
    <add key="BIC.ETL.SqlServer.InputDirectory" value="E:\_DATA\"/>
    <add key="BIC.ETL.SqlServer.SQLConnectionString" value="Server=STAN-PC;Database=BIC;Trusted_Connection=yes;"/>
    <add key="BIC.ETL.SqlServer.ZipFileName" value="BIC.zip"/>
    <add key="BIC.ETL.SqlServer.ZipMaxFileLength" value="2000000"/>
  </appSettings>
</configuration>
