<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BIC.ETL.SqlServer.InputDirectory" value="E:\_DATA\"/>
    <add key="BIC.ETL.SqlServer.SQLConnectionString" value="Server=STAN-PC;Database=BIC;Trusted_Connection=yes;"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
